@model IPagedList<StoreFront.DATA.EF.Models.Product>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Tiled Products";
}

<div class="watchs_section layout_padding">
    <div class="container">
        <h1 class="watchs_taital">Our Products</h1>
        <p class="text-right">

            <a asp-action="Index" class="btn btn-success">Table View</a>
        </p>

        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <form asp-action="TiledProducts" method="get">
                    <label for="categoryId" class="control-label d-block text-center">Filter by Category</label>
                    <select name="categoryId" class="form-control text-center mb-3" asp-items="ViewBag.CategoryId">
                        <option value="0">[Choose a Category]</option>
                    </select>

                    <input name="searchTerm" class="form-control text-center" placeholder="Search Gadgets" />
                    <input type="submit" value="Go" class="btn btn-primary text-center w-50 d-block" />
                </form>
                @if (ViewBag.NbrResults != null)
                {
                    <p class="mt-5 p-2 alert alert-warning text-center">
                        Showing @ViewBag.NbrResults result@(ViewBag.NbrResults == 1 ? "" : "s") for '@ViewBag.SearchTerm'.
                    </p>
                }
            </div>
        

        @foreach (var item in Model)
        {
        <div class="watchs_section_2">
            <div class="row">
                <div class="col-md-6">
                    <a asp-action="Details" asp-route-id="@item.ProductId">
                    <div class="image_1"><img src="~/images/@item.ProductImage" alt="@item.ProductName"></div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a asp-action="Details" asp-route-id="@item.ProductId">
                    <h4 class="uni_text">@item.ProductName</h4>
                    </a>
                    <p class="watchs_text">@item.ProductDescription</p>
                        <h4 class="rate_text"><span style="color: #b60213;"></span>@Html.DisplayFor(modelItem => item.ProductPrice)</h4>
                    <div class="read_bt1"><a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@item.ProductId">Add To Cart</a></div>
                </div>
            </div>
        </div>
        }
        </div>
        <p class="text-center">
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Create" class="btn btn-primary" style="margin-top: 50px;">Add a New Product</a>
            }
        </p>
        <div class="row mt-5">
            <div class="w-50 mx-auto text-center">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                <div class="w-100">
                    @Html.PagedListPager(
                             Model,
                             page => Url.Action("TiledProducts", new { page, searchTerm = ViewBag.SearchTerm, categoryId = ViewBag.CategoryId })
                             )
                </div>
            </div>
        </div>
        </div>
        </div>

@* Original scaffolded code below *@
@* <h1>TiledProducts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDiscontinued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDiscontinued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductStatus.ProductStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@