@model IEnumerable<StoreFront.DATA.EF.Models.KnifeBrand>

@{
    ViewData["Title"] = "Index";
}

<div class="watchs_section layout_padding">
    <div class="container">
        <h1 class="watchs_taital">Our Knife Brands</h1>

<table class="table">
    <thead class="text-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.BrandId"> @*will link to brand's site eventually*@
                @Html.DisplayFor(modelItem => item.BrandName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <span>
                        <a asp-action="Edit" asp-route-id="@item.BrandId">Edit</a> |
                        @* <a asp-action="Details" asp-route-id="@item.BrandId">Details</a> | *@
                        <a asp-action="Delete" asp-route-id="@item.BrandId">Delete</a>
                    </span>
                }
            </td>
        </tr>
}
            </tbody>
        </table>
        <p class="text-center">
            <a asp-action="Create" class="btn btn-primary">Add a New Knife Brand</a>
        </p>
    </div>
</div>