@model IEnumerable<StoreFront.DATA.EF.Models.Category>

@{
    ViewData["Title"] = "Category";
}
<div class="watchs_section layout_padding">
    <div class="container">
        <h1 class="watchs_taital">Categories</h1>


<table class="table">
    <thead>
        <tr class="text-white">
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-white">
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDescription)
            </td>
            <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <span>
                        <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                        @* <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> | *@
                        <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                        </span>
                    }
            </td>
        </tr>
}
    </tbody>
</table>

        <p class="text-center">
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Create" class="btn btn-primary">Add a Category</a>
            }
        </p>
</div>
</div>